.banner-container {
  background-image: url("../../assets/images/banner.webp");
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 600px;
}
